$textWhite: #fff;
$textGreen: #00c864;
$textGrey: #bfc2c7;
$textInputBlack: #1c2634;

$backgroundColor: #2b3343;
$backgroundColorGreen: #00c864;
$backgroundFooterBlack: #000;

$arrowDisabled : #5a606c;
$arrowActive: #fff;